*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(3, 20px [col-start]); */
    grid-template-rows: repeat(3, 300px);
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 50px; */
    /* gap: 30px; */
    grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
    /* grid-template: 
        [row1-start] "header header header" 25px [row1-end]
        [row2-start] "footer footer footer" 25px [row2-end]
        / auto 50px auto; */
    gap: 10px;

}

.box:first-child{
    background-color: aquamarine;
    grid-area: header;
}
.box:nth-child(2){
    background: #000;
    grid-area: main;
}
.box:nth-child(3){
    background-color: blue;
    grid-area: sidebar;
}
.box:last-child{
    background-color: yellowgreen;
    grid-area: footer;
}

.content{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 50px;
    grid-auto-rows: 50px;
    grid-auto-columns: 200px;
    gap: 10px;
    justify-items: start;
    background-color: violet;
    align-items: start;
    place-items: center start;
    width: 80%;
    justify-content: center;
    place-content: center start;
    height: 800px;

}

.item{
    background-color: blue;
    width: 80%;
    height: 50%;
}
.item:first-child{
    background-color: tomato;
    grid-row: 4/5;
    grid-column: 4/5;
}

.container-2{
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(2, 30px);
    grid-auto-flow: column;
    
}

.item-a{
    grid-column: 1;
    grid-row: 1/3;
    background-color: yellow;
}
.item-b{
    background-color: violet;
}
.item-c{
    background-color: yellowgreen;
}
.item-d{
    background-color: turquoise;
}
.item-e{
    grid-column: 5;
    grid-row: 1/3;
    background-color: tomato;
}