*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: sans-serif;
}

.container{
    display: grid;
    background-color: white;
    grid-template: 100px 1fr 50px / 1fr 3fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer"
    ;
    gap: .3rem;
    /* height: 100vh; */
}
.header{
    grid-area: header;
    background-color: #393f4d;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.header .logo{
    flex: 1 1 auto;
}
.header nav{
    display: flex;
    justify-content: space-around;
    flex: 2 1 auto;
}
.header nav a{
    font-weight: 700;
}
.aside{
    grid-area: aside;
    background-color: #C50208;
    display: flex;
    flex-direction: column;
    padding: .7rem .8rem;
    gap: 1.5em;

}
.aside .box{
    flex: 1 1 auto;
    background-color: white;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box span{
    text-align: center;
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: .3rem;

}
.main .top{
    display: flex;
    justify-content: space-around;
    padding: .7rem .8rem;
    color: white;
    background-color: #C50208;
}
.top h3{
    text-transform: uppercase;
}
.main .content{
    background-color: #bccbde;
    display: grid;
    grid-template: repeat(auto-fit, minmax(200px, 1fr)) / repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: .5rem;
    padding: .5rem;
    
}
.content .box{
    background-color: white;
    padding: 1rem;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}
.content .box h4{
    text-transform: capitalize;
}

.footer{
    grid-area: footer;
    background-color: #393f4d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer span{
    font-weight: 900;
    margin-right: .5rem;
}
.footer h5{
    font-weight: 500;
    text-transform: capitalize;
}