@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
    grid-template-areas: 
        "aside header"
        "aside main" 
    ;
    /* overflow: auto; */
}

.header{
    grid-area: header;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(173, 173, 173);

}
.header .box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em 3em;
    /* background-color: violet; */
    column-gap: 5em;
    margin: 0 1em;
}
.header .box .item{
    /* background-color: violet; */
    display: flex;
    gap: .5em;
    align-items: center;
}
.header .box .profile{
    justify-content: space-evenly;
}

.icon i{
    font-size: 1.2em;
}
.header .search .bar{
    flex: 1 1 100%;
}
.user-img{
    width: 3em;
    height: 3em;
    overflow: hidden;
    border-radius: 50%;
}

input{
    width: 90%;
    border-radius: 50px;
    border: none;
    padding: .5em 1em;
    background-color:rgb(226 232 240);

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.header .box .welcome{
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.header .welcome .user-img{
    width: 4em;
    height: 4em;
}
.header .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: inherit;
    text-decoration: none;
}
.btnSimple{
    color: white;
    background-color: rgb(19, 126, 214);
    border-radius: 50px;
    padding: .7em 2em;
    font-weight: 500;
}
.btnSimple:hover{
    background-color: rgb(33, 160, 219);
}
.aside{
    grid-area: aside;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4.5em;
    padding: 1.5em;
    color: white;
    background-color: rgb(19, 126, 214);
}
.aside .logo i {
    font-size: 1.2em;
}

ul{
    list-style: none;
}
.aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}
.aside .link a{
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.aside .link a > i{
    margin-right: 1em;
}

main.main{
    grid-area: main;
    background-color: yellow;
    display: flex;
    gap: 2em;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(226 232 240);

}
.main .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 3 1 0;
    margin: 1em;
}
.main .content .cards{
    display: grid;
    grid-template-columns:   repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;

}
.main .content .cards > .card{
    background-color: white;
    border-left: .4em solid rgb(252, 190, 58);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em 1em;
    justify-content: space-between;
}
.cards > .card >.text > p{
    color: rgb(80, 80, 80);
    margin-top: .5em;
}
.card .options{
    align-self: flex-end;
    display: flex;
    gap: 1em;
}
.main .side{
    width: 100%;
    background-color:rgb(226 232 240);
    flex: 1 1 0;
}

.side .box{
    margin: 1em 2em 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.side .box .cards{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .5em;
    padding: 1.2em 1.5em; 
    gap: 1em;
}
.side .box .cards > .card{
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(126, 126, 126, 0.384);
}
.side .box .cards > .card:last-child{
    border: none;
    padding-bottom: 0;
}
.side .box .cards >.card > .text >p{
    margin-top: .3em;
    font-size: .9em;
}
.side .cards-trending{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .5em;
    padding: 1.2em 1.5em;
    gap: 1em;

}
.side .cards-trending > .card{
    display: flex;
    /* justify-content: space-between; */
    gap: 1em;
    align-items: center;
    width: 100%;
}
.side .cards-trending > .card > .image{
    width: 3em;
    height: 3em;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}
.side .cards-trending > .card > .text>p{
    margin-top: .2em;
    text-transform: capitalize;
    color: rgb(80, 80, 80);

}

